<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.bah.videosave"
    versionCode = "10" 
    version     = "1.0.0" >

    <name>Video Save Test</name>

    <description>
        Attempt to save video offline for reuse
    </description>


    <plugin name="cordova-plugin-file" source="npm" />
    <plugin name="cordova-plugin-file-transfer" source="npm" />


    <splash src="splash.png" />
    <icon src="icon.png" />

    <preference name="webviewbounce" value="false" />



</widget>



